body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* cabeçalho */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 36px;
    color: #333;
    margin: 10px 0;
}

/* relatório */
.porteiro,
.data {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

/* barra de pesquisa */
.search-container {
    text-align: center;
    margin-top: 20px;
}

.search-container input[type=text] {
    padding: 10px;
    width: 60%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

/* botao animado */
.search-container button {
    padding: 10px 20px;
    background-color: #F4BC21;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Adicionando transições */
}

.search-container button:hover {
    background-color: #E8A219; /* Nova cor ao passar o mouse */
    transform: scale(1.05); /* Leve crescida ao passar o mouse */
}

.search-container button:active {
    background-color: #E8A219; /* Cor ao clicar */
}



/* checkboxes */
.search-container input[type=checkbox] {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

/* tabelinha */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2; 
}

/* Estilos para a imagem do calendário */
.calendario {
    width: 20px;
    height: auto;
    margin-left: 10px;
    vertical-align: middle;
}

/* Estilo para o cabeçalho simulado */
.simulated-header {
    border-top: 15px solid #f4bc21;
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    color: #0d0d0d;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 6px 12px;
    border-radius: 0.25rem;
}

.page-link:hover {
    background-color: #e9ecef;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}

.logo {
    width: 200px; 
    height: auto; 
    padding: 15px;
}

.olin {
    position: relative;
    width: 30px;
}

.mais {
    position: absolute;
    width: 35px;
    margin-left: 1405px;
    margin-top: 152px;
}

.atualizar {
    position: absolute;
    width: 30px;
    margin-top: 155px;
    margin-left: 50px;
}

.lapin {
    position: absolute;
    width: 30px;
    margin-left: 1320px;
    margin-top: 155px;
}
